[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = git@github.com:pearofducks/ansible-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-colors-synthwave"]
	path = bundle/vim-colors-synthwave
	url = git@github.com:TroyFletcher/vim-colors-synthwave.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = git@github.com:bronson/vim-visual-star-search.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
